*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.hero__section{
    background: url(./images/heroSectionBackground.png);
    min-height: 72vh;
    background-size: cover;
    background-position: center;
    color: white;
}
.hero__section_navbar{
    display: flex;
    justify-content: space-between;
    /* can also do align-items: center; instead of padding from all sides */
    padding: 20px 60px;
    height: 100px;
    font-weight: 350;
}
.navbar__div{
    display: flex;
    gap: 40px;
}
.hero__section_navbar a{
    text-decoration: none;
    color: white;
}
.navbar__div i{
    justify-content: center;
    align-items: center;
    color: red;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border:1px solid white;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: calc(72vh,100px);
}
.hero__section_container .container_logo{
    height: 55px;
    width: auto;
}
.container_title{
    font-size: 34px;
    font-weight: 400;
    text-align: center;
}
.container_div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 60%;
    padding: 16px;
    gap: 10px;
    background: white;
}
.container_div_location{
    border: none;
    outline: none;
    width: 30%;
    border-right: 1px solid gray;
}
.container_div_search{
    width: 70%;
    border: none;
    outline: none;
}
.container_div i{
    color: red;
    opacity: 40%;
}
.container_div #search{
    color:darkslategray;
}

@media (max-width: 500px){
    .navbar__div i{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        height: 74vh;
    }
    .hero__section_navbar{
        padding: 12px;
    }
    .container_div{
        flex-direction: column;
        background: transparent;
        width: 100%;
    }
    .container_div{
        height: calc(74vh,100px);
    }
    .container_div_location, .container_div_search{
        padding: 16px;
        border-radius: 10px;
        width: 95%;
    }
    .container_title{
        font-size: 20px;
        width: 95%;
    }
}